html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

body > .container-fluid {
  padding: 60px 15px 0;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

input {
  font-family: monospace;
}

.well-success {
  background: rgb(223, 240, 216);
}

.well-error {
  background: rgb(250, 220, 220);
}

.github-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 20000;
}


.title-blockchain {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #7015d1; /* xanh dương đẹp */
  margin: 20px 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  /* Hiệu ứng nhẹ */
  transition: 0.3s ease;
}

.title-blockchain:hover {
  color: #1565c0;
  border-bottom-color: #1565c0;
}

.text-main {
  text-align: center;
  padding-right: 30px;
}

.text-main, .text-main-col {
  color: white
}

.index-div {
  background-color: rgb(10, 10, 61);
  height: 100%;
}

.index-image {
  display: flex;
  justify-content:space-around
}

.index-image div img {
  width: 100%;
  height: 400px;
}


/* Navbar tech style */
.navbar-inverse {
  background: #0e2341 !important;            /* đen xanh kiểu GitHub */
  border-color: #0d1117 !important;
}

/* Text trong menu */
.navbar-inverse .navbar-nav > li > a {
  color: #bfbdd8 !important;                 /* xanh neon */
  font-weight: 500;
}

/* Hover */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li.active > a {
  color: rgb(83, 216, 216) !important;                    /* xanh neon sáng hơn */
  background-color: rgba(22, 180, 33, 0.1) !important;
}

/* Brand logo */
.navbar-inverse .navbar-brand {
  color: #00e5ff !important;
}

/* Hover brand */
.navbar-inverse .navbar-brand:hover {
  color: #0ff !important;
}

.navbar-inverse .navbar-nav > li.active > a{
  background-color: #1a5c7a !important;   /* màu khác hẳn */
  color: #0ff !important;
  border-radius: 6px;
}

/* Tab đang active */
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #1a5c7a !important; /* màu riêng nổi bật */
  color: #0ff !important;
}